<div class="container">

    <h2>Student Profile</h2>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <label>Name</label>

        <input type="text" formControlName="name">

        <p class="error" *ngIf="
      profileForm.get('name')?.invalid &&
      profileForm.get('name')?.touched">

            Name is required

        </p>

        <label>Email</label>

        <input type="email" formControlName="email">

        <p class="error" *ngIf="
      profileForm.get('email')?.invalid &&
      profileForm.get('email')?.touched">

            Enter a valid email

        </p>

        <label>Semester</label>

        <input type="number" formControlName="semester">

        <button type="submit" [disabled]="profileForm.invalid">

            Submit

        </button>

    </form>

</div>